<div class="profile-home">

  <div class="container">

    <!-- Example row of columns -->
    <div class="row trow">

      <div class="col-sm-12 pr-sm-1 pl-sm-0 mt-2">

        <div class="tdiv tgdiv" >



          <p class="htext">
            Test dalog
          </p>

          <button class="btn btn-primary tbtn" type="submit" (click)="funkcija()" >Izracunaj</button>
          &nbsp;
          <button class="btn btn-primary tbtnm" (click)="parentCall()" type="submit">Call parrent function</button>
        </div>

      </div>
    </div>

  </div>

</div>

