<div class="profile-home">

  <div class="container">

    <!-- Example row of columns -->
    <div class="row trow">

      <div class="col-sm-12 pr-sm-1 pl-sm-0 mt-2">

        <div class="tdiv tgdiv">

          <div class="dugmaddv">
            <div style="width: 100%">
              <div  style="float: left; text-align:left;">
                <button class="btn btn-primary tbtn" type="submit" (click)="otvori()" >Open</button>
              </div>
              <div  style="float: left; margin-left:20px; text-align:left;">
                <button class="btn btn-primary tbtn" type="submit" (click)="novi()">New</button>
              </div>
              <div  style="float: left; margin-left:20px; text-align:left;">
                <button class="btn btn-primary tbtn" type="submit" (click)="brisiRed()">Delete</button>
              </div>


            </div>
          </div>

          <!--class="material server-scrolling-demo"-->
          <ngx-datatable #myTable
                         class="bootstrap ngx-datatable01"
                         [rows]="rows"
                         [columns]="columns"
                         [columnMode]="'force'"
                         [headerHeight]="headerHeight"
                         [rowHeight]="rowHeight"
                         [loadingIndicator]="isLoading"
                         [scrollbarV]="true"
                         [selected]="selected"
                         [selectionType]="'single'"
                         (select)="onSelect($event)"
                         (dblclick)="otvori()"
          ></ngx-datatable>

          <!--(scroll)="onScroll($event.offsetY)"-->
          <!--(activate)="onActivate($event)"-->


          <!--(toggle)="onDetailToggle($event)"-->
          <!--(change)="onToggle(row)"-->
          <!--[rowHeight]="getDetailRowHeight">-->
        </div>
      </div>

    </div>


    <div class="row trow2">

      <div class="col-sm-12 pr-sm-1 pl-sm-0 mt-2">

        <div class="tdiv" >

          <p>

            ngx-datatable is a Angular component for presenting large and complex data.
            <br /><br />
            This is a simple scrollable grid made with ngx-datatable.
            <br />
            It can be used for small size databases.
            <br />

            Unlike examples with paging and virtual-scroling, there is no server-side pagination. </p>

        </div>
      </div>

    </div>

  </div>



</div>




<jqxWindow [theme]="'material'" #areyousureWindow
           [width]="320"
           [height]="170"
           [resizable]="false"
           [draggable]="false"
           [cancelButton]="'.cancelButton'"
           [isModal]="true"
           [autoOpen]="false"
           [modalOpacity]="0.3"
           [animationType]="'slide'"
           [title]= "'Message'"
           style="position: fixed; left: 50%; top: 50%;">
  <div class="messageHeaderStyles">
    Messagw
  </div>
  <div class="messageContentStyles">
    <!--Dobar dan-->
    <!--<label [(ngModel)]="tmessage">-->
    {{ tmessage }}
    <div class="messageFooterStyles">
      <div style="float:left; width: 50%; text-align: center">
        <button class="btn btn-primary tbtnm" (click)="closeYes()" type="submit">Yes</button>
      </div>
      <div style="float:left; width: 50%; text-align: center">
        <button class="btn btn-primary tbtnm" (click)="closeNo()" type="submit">No</button>
      </div>

    </div>
    <!--</label>-->
  </div>


</jqxWindow>

<!--<div class="twaitdiv" [hidden]="tWaitHdn">-->
<!--<img class="tslika" src="assets/images/wait.gif"  alt="Logo">-->
<!--</div>-->


<jqxWindow [theme]="'material'" #messageWindow
           [width]="260"
           [height]="170"
           [resizable]="false"
           [draggable]="false"
           [cancelButton]="'.cancelButton'"
           [isModal]="true"
           [autoOpen]="false"
           [modalOpacity]="0.3"
           [animationType]="'slide'"
           [title]= "'Message'"
           style="position: fixed; left: 50%; top: 50%;">
  <div class="messageHeaderStyles">
    Messagw
  </div>
  <div class="messageContentStyles">
    <!--Dobar dan-->
    <!--<label [(ngModel)]="tmessage">-->
    {{ tmessage }}
    <div class="messageFooterStyles">
      <button class="btn btn-primary tbtnm" (click)="closeMessage()" type="submit">OK</button>
    </div>
    <!--</label>-->
  </div>


</jqxWindow>

