<div class="profile-home">

  <div class="container">

    <!-- Example row of columns -->
    <div class="row trow">

      <div class="col-sm-3 mt-2 leftcolomn">
        <div class="tdiv">
          <!--One of two columns 1-->
          <!--<p>jedan</p>-->
          <!--<p>dva</p>-->
          <!--<p>tri</p>-->
          <app-left-side></app-left-side>
          <!--<p>četiri</p>-->
        </div>
        <!--<router-outlet name="sidebar"></router-outlet>-->
      </div>

      <div class="col-sm-9 mt-2 rightcolomn">
        <div class="tdiv">
          <!--One of two columns 2-->
          <!--<p>jedan</p>-->
          <!--<p>dva</p>-->
          <!--</div>-->
          <!--<router-outlet name="sidebar"></router-outlet>-->
          <router-outlet></router-outlet>
        </div>
      </div>

    </div>

  </div>

</div>
