<!--<div hspace=10 vspace=10 border=0 align=left>-->
<!--<img  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRjNea_YlgAMkHd24DaAhC2-bzQlO5Uwh1BQg2Qwvds3sQju57y"-->
<!--&gt;-->
<!--</div>-->

<!--<p>Rafael "Rafa" Nadal Parera (born 3 June 1986) is a Spanish professional tennis player, currently ranked world No. 1 in men's singles tennis by the Association of Tennis Professionals (ATP).[6] Known as "The King of Clay",[a] he is widely regarded as the greatest clay-court player in history.[b] Nadal's evolution into an all-court threat has established him as one of the greatest tennis players of all time.-->
<!--<br />-->
<!--Nadal has won 16 Grand Slam singles titles, a record 31 ATP World Tour Masters 1000 titles, a record 20 ATP World Tour 500 tournaments, and the 2008 Olympic gold medal in singles. In majors, Nadal has won 10 French Open titles, 3 US Open titles, 2 Wimbledon titles, and one Australian Open title. He was also a member of the winning Spain Davis Cup team in 2004, 2008, 2009, and 2011. In 2010, he became the seventh male player in history and youngest of five in the Open Era to achieve the Career Grand Slam at age 24. He is the second male player, after Andre Agassi, to complete the singles Career Golden Slam. In 2011, Nadal was named the Laureus World Sportsman of the Year.-->
<!--<br />-->
<!--</p>-->

<div>
  <div  style="float:right; width: 270px; height: 210px; margin: 10px;">
    <img  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRjNea_YlgAMkHd24DaAhC2-bzQlO5Uwh1BQg2Qwvds3sQju57y" />

    <br />
    <div class="link" [hidden]="!edited"  id="label0" ng-show= "nadshw" (click)="NadalClick()">Click Nadal</div>
    <div class="clicked" [hidden]="edited"  id="lblclck" ng-show="clckshw">Nadal clicked</div>

  </div>
  <p>
    Rafael Nadal Parera (Catalan: [rəf(ə)ˈɛl nəˈðal pəˈɾeɾə], Spanish: [rafaˈel naˈðal paˈɾeɾa]; born 3 June 1986) is a Spanish professional tennis player, currently ranked world No. 2 in men's singles tennis by the Association of Tennis Professionals (ATP).
  </p>
  <p>
    Nadal has won 17 Grand Slam singles titles, the second most in history for a male player, as well as a record 33 ATP World Tour Masters 1000 titles, 20 ATP World Tour 500 tournaments, and the 2008 Olympic gold medal in singles. In addition, Nadal has held the number one ranking for a total of 196 weeks. In majors, Nadal has won a record 11 French Open titles, three US Open titles, two Wimbledon titles, and one Australian Open title. Nadal has also won 57 clay court titles, including his 11 French Open titles, the most of any player in the Open Era. With 81 consecutive match wins on clay, Nadal has the longest single surface win streak of any player in the Open Era.
  </p>

  <p>
    He was also a member of the winning Spain Davis Cup team in 2004, 2008, 2009, and 2011. In 2010, he became the seventh male player in history and youngest of five in the Open Era to achieve the Career Grand Slam at age 24. He is the second male player, after Andre Agassi, to complete the singles Career Golden Slam. In 2011, Nadal was named the Laureus World Sportsman of the Year.
  </p>

  <p>
    Nadal has said that he is agnostic. As a young boy, he would run home from school to watch Goku in his favorite Japanese anime, Dragon Ball. CNN released an article about Nadal's childhood inspiration, and called him "the Dragon Ball of tennis" owing to his unorthodox style "from another planet".
  </p>

</div>
