

<script src="ngfor.component.ts"></script>
<div class="container">
  <div class="row">

    <nav class="navbar">
    <!--<p>-->
      <input #fltr class="form-control" type="text" name="search" [(ngModel)]="filter"  placeholder="Search">
      <!--<input type="text" [value]="tval" [(ngModel)]="filter">-->
      <!--<ng-template [ngIf]= "ngModel" >-->
      <!--<input type="text" [(ngModel)]="filter" >-->
      <!--<input [value]="filter" (input)="filter = $event.target.value">-->
      <!--</ng-template>-->
      <!--<input type="text" [(ngModel)]="tprofile.filter" required >-->
      <!--<input type="text" name="username"-->
             <!--formControlName="filter" class="form-control"-->
             <!--id="filter" placeholder="Username" required autofocus>-->
    </nav>
      <!--<input type="text" formControlName="filter">-->
    <!--</p>-->


    <table class="table">
      <thead>
      <tr>

        <th>#</th>
        <!--<th>Name</th>-->
        <!--<th>Genre</th>-->
        <th (click)="sort('IdStud')">Id</th>
        <th (click)="sort('Code')">Code</th>
        <th (click)="sort('FirstName')">First name</th>
        <th (click)="sort('LastName')">Last name</th>

        <!--<span class="glyphicon sort-icon" *ngIf="key =='name'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>-->

      </tr>
      </thead>
      <tbody>

      <!--<tr *ngFor="let trow of rows | orderBy: key : reverse | filter:filter | paginate: { itemsPerPage: 5, currentPage: p }; let i = index">-->

      <!--<td>{{i}}</td>-->
      <!--<td>{{trow.IdStud}}</td>-->
      <!--<td>{{trow.Code}}</td>-->
      <!--<td>{{trow.FirstName}}</td>-->
      <!--<td>{{trow.LastName}}</td>-->
      <!--</tr>-->

      <!--<tr *ngFor="let trow of rows | paginate: { itemsPerPage: 5, currentPage: p }; let i = index">-->
      <tr *ngFor="let trow of rows | orderBy: key : reverse | filter:filter | paginate: { itemsPerPage: 5, currentPage: p }; let i = index">
        <td style="width: 5%;">{{i}}</td>
        <td style="width: 15%;">{{trow.IdStud}}</td>
        <td style="width: 20%;">{{trow.Code}}</td>
        <td style="width: 30%;">{{trow.FirstName}}</td>
        <td style="width: 30%;">{{trow.LastName}}</td>
      </tr>

      </tbody>
      <!--<pagination-controls (pageChange)="p = $event"></pagination-controls>-->

    </table>

    <pagination-controls (pageChange)="p = $event"></pagination-controls>

  </div>

  <br>
  <button class="btn btn-primary tbtn" type="submit" (click)="goto()" >Go to 2</button>
  &nbsp;
  <button class="btn btn-primary tbtn" type="submit" (click)="dobardan()" >Dobar dan</button>
  &nbsp;
  <button class="btn btn-primary tbtn" type="submit" (click)="dobrovece()" >Dobro veče</button>
  &nbsp;
  <button class="btn btn-primary tbtn" type="submit" (click)="DaLiBazaPostoji()" >Dobro jutro</button>

  <p class="tporuka">
    {{ tmessage }}
  </p>


</div>


