<div class="profile-home">

  <div class="container">

    <!-- Example row of columns -->
    <div class="row trow">

      <div class="col-sm-12 pr-sm-1 pl-sm-0 mt-2">

        <div class="tdiv tgdiv" >

          <!--<img id="glImg" src="assets/images/Business2.jpg" alt="Respond" />-->

          <br /><br />

          <h3 style="text-align:left; font-family:'Arial Rounded MT'; font-size:20px;" class="header01">Home</h3>
          <hr />
          <!--   <span id="spnLogout" ng-click="period_click()" class="logitem">
                  Period
            </span>   -->
          <p class="htext">
            This is an example of how a web application can solve the computerization of a simple university

          </p>

          <!--<br />-->
          <p class="htext">
            The tools I used to make this project are: Angular 7, HTML, CSS, Bootstrap, Javascript, jQuery, Node js, jQWidgets, ngx-datatable, MongoDB, VB.net, C#, Ajax, Crystal Reports
          </p>
          <br />

          <p class="htext">
            Emphasis has been placed on different ways and methods of displaying, entering, modifying and analyzing data from databases.
          </p>
          <br />
          <p class="htext">
            The techniques used in this project can be used to solve any requirement regarding the computerization of any kind of records.
          </p>

          <br />
          <p class="htext">
            Prints on screen and paper are solved with the world's most powerful reporting tool Crystal Reports
          </p>

          <!--<jqx-button jqx-on-click="onClickW()">Show Window</jqx-button>--><br /><br />
          <p class="htext">
            If you want to see my simple university solution as a desktop application, you can download it from here:

            <span class="footeritem" style="font-size:14px">
            <a class="htext" href="http://www.adacco.com/AdcUniversity/AdcUnvSetup.exe">AdcDownload.exe</a>
          </span>


            <br />
            Both apps work with the same database.

          </p>

          <br />
          <p class="htext">
            I hope you like the way I make websites and desktop applications..</p>
          <br />

          <br />
          <p class="htext">
            This version of the project has been built with Angular 6 + Node.js. The full version built with Javascript + jQuery is


            <span class="footeritem" style="font-size:14px">
            <a class="htext" href="http://www.test.siteknower.com/AdcHome.html">here</a>.
          </span>

          </p>
          <br /><br />
        </div>

      </div>
    </div>

  </div>

</div>

